ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Itinerary] DROP CONSTRAINT [FK_Itinerary_Airport2]
GO
ALTER TABLE [dbo].[Itinerary] DROP CONSTRAINT [FK_Itinerary_Airport1]
GO
ALTER TABLE [dbo].[Flight] DROP CONSTRAINT [FK_Flight_Itinerary]
GO
ALTER TABLE [dbo].[Flight] DROP CONSTRAINT [FK_Flight_Aircraft]
GO
ALTER TABLE [dbo].[Client] DROP CONSTRAINT [FK_Client_User]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK_Booking_Flight]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK_Booking_Client]
GO
ALTER TABLE [dbo].[Airport] DROP CONSTRAINT [FK_Airport_Planet]
GO
/****** Object:  Index [IX_Planet_Name]    Script Date: 15-Jun-22 7:09:06 PM ******/
DROP INDEX [IX_Planet_Name] ON [dbo].[Planet]
GO
/****** Object:  Index [IX_Itinerary_Aiport1_Aiport2]    Script Date: 15-Jun-22 7:09:06 PM ******/
DROP INDEX [IX_Itinerary_Aiport1_Aiport2] ON [dbo].[Itinerary]
GO
/****** Object:  Index [IX_Client_Email]    Script Date: 15-Jun-22 7:09:06 PM ******/
DROP INDEX [IX_Client_Email] ON [dbo].[Client]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[Planet]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Planet]') AND type in (N'U'))
DROP TABLE [dbo].[Planet]
GO
/****** Object:  Table [dbo].[Itinerary]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Itinerary]') AND type in (N'U'))
DROP TABLE [dbo].[Itinerary]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Flight]') AND type in (N'U'))
DROP TABLE [dbo].[Flight]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Client]') AND type in (N'U'))
DROP TABLE [dbo].[Client]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Booking]') AND type in (N'U'))
DROP TABLE [dbo].[Booking]
GO
/****** Object:  Table [dbo].[Airport]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Airport]') AND type in (N'U'))
DROP TABLE [dbo].[Airport]
GO
/****** Object:  Table [dbo].[Aircraft]    Script Date: 15-Jun-22 7:09:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aircraft]') AND type in (N'U'))
DROP TABLE [dbo].[Aircraft]
GO
/****** Object:  Database [SpaceAdventures]    Script Date: 15-Jun-22 7:09:06 PM ******/
DROP DATABASE [SpaceAdventures]
GO
/****** Object:  Database [SpaceAdventures]    Script Date: 15-Jun-22 7:09:06 PM ******/
CREATE DATABASE [SpaceAdventures]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/****** Object:  Table [dbo].[Aircraft]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aircraft](
	[IdAircraft] [int] IDENTITY(1,1) NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[NumberOfSeats] [int] NOT NULL,
 CONSTRAINT [PK_Aircraft] PRIMARY KEY CLUSTERED 
(
	[IdAircraft] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airport]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airport](
	[IdAirport] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IdPlanet] [int] NOT NULL,
 CONSTRAINT [PK_Airport] PRIMARY KEY CLUSTERED 
(
	[IdAirport] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[IdBooking] [int] IDENTITY(1,1) NOT NULL,
	[IdFlight] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
	[NbSeats] [int] NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[IdBooking] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[IdUser] [int] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[IdFlight] [int] IDENTITY(1,1) NOT NULL,
	[FlightStatus] [int] NOT NULL,
	[IdAircraft] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[IdItinerary] [int] NOT NULL,
	[DepartureTime] [datetime] NOT NULL,
	[ArrivalTime] [datetime] NOT NULL,
	[RemainingSeats] [int] NOT NULL,
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[IdFlight] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Itinerary]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itinerary](
	[IdItinerary] [int] IDENTITY(1,1) NOT NULL,
	[IdAirport1] [int] NOT NULL,
	[IdAirport2] [int] NOT NULL,
 CONSTRAINT [PK_Itinerary] PRIMARY KEY CLUSTERED 
(
	[IdItinerary] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planet]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planet](
	[IdPlanet] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Planet] PRIMARY KEY CLUSTERED 
(
	[IdPlanet] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15-Jun-22 7:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[VerifiedEmail] [bit] NOT NULL,
	[IdRole] [int] NOT NULL,
	[IdUserAuth0] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aircraft] ON 

INSERT [dbo].[Aircraft] ([IdAircraft], [Manufacturer], [Model], [NumberOfSeats]) VALUES (2, N'Boeing', N'Fixed Wing 747 (Sofia)', 20)
INSERT [dbo].[Aircraft] ([IdAircraft], [Manufacturer], [Model], [NumberOfSeats]) VALUES (3, N'Boeing', N'Fixed Wing 757', 30)
INSERT [dbo].[Aircraft] ([IdAircraft], [Manufacturer], [Model], [NumberOfSeats]) VALUES (4, N'Boeing', N'B-52B', 25)
SET IDENTITY_INSERT [dbo].[Aircraft] OFF
GO
SET IDENTITY_INSERT [dbo].[Airport] ON 

INSERT [dbo].[Airport] ([IdAirport], [Name], [IdPlanet]) VALUES (1, N' Kennedy Space Center', 3)
INSERT [dbo].[Airport] ([IdAirport], [Name], [IdPlanet]) VALUES (2, N'Edwards Air Force Base', 3)
INSERT [dbo].[Airport] ([IdAirport], [Name], [IdPlanet]) VALUES (3, N'White Sands', 3)
SET IDENTITY_INSERT [dbo].[Airport] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([IdBooking], [IdFlight], [IdClient], [NbSeats]) VALUES (2, 2, 6, 2)
INSERT [dbo].[Booking] ([IdBooking], [IdFlight], [IdClient], [NbSeats]) VALUES (3, 2, 9, 2)
INSERT [dbo].[Booking] ([IdBooking], [IdFlight], [IdClient], [NbSeats]) VALUES (4, 6, 9, 2)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([IdClient], [FirstName], [LastName], [Email], [IdUser]) VALUES (6, N'Test', N'Test', N'test@test.test', 29)
INSERT [dbo].[Client] ([IdClient], [FirstName], [LastName], [Email], [IdUser]) VALUES (7, N'Hammadi', N'Chadli', N'madi-owner@spaceadventures.be', 26)
INSERT [dbo].[Client] ([IdClient], [FirstName], [LastName], [Email], [IdUser]) VALUES (8, N'Fripon', N'HAllet', N'hallet.owner@spaceadventure.be', 39)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Flight] ON 

INSERT [dbo].[Flight] ([IdFlight], [FlightStatus], [IdAircraft], [Price], [IdItinerary], [DepartureTime], [ArrivalTime], [RemainingSeats]) VALUES (2, 0, 2, 1000, 8, CAST(N'2022-06-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), 30)
INSERT [dbo].[Flight] ([IdFlight], [FlightStatus], [IdAircraft], [Price], [IdItinerary], [DepartureTime], [ArrivalTime], [RemainingSeats]) VALUES (3, 1, 3, 1000, 8, CAST(N'2022-07-07T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), 26)
INSERT [dbo].[Flight] ([IdFlight], [FlightStatus], [IdAircraft], [Price], [IdItinerary], [DepartureTime], [ArrivalTime], [RemainingSeats]) VALUES (4, 1, 4, 1000, 8, CAST(N'2022-08-01T00:00:00.000' AS DateTime), CAST(N'2023-06-01T00:00:00.000' AS DateTime), 26)
SET IDENTITY_INSERT [dbo].[Flight] OFF
GO
SET IDENTITY_INSERT [dbo].[Itinerary] ON 

INSERT [dbo].[Itinerary] ([IdItinerary], [IdAirport1], [IdAirport2]) VALUES (1, 1, 7)
INSERT [dbo].[Itinerary] ([IdItinerary], [IdAirport1], [IdAirport2]) VALUES (2, 1, 11)
INSERT [dbo].[Itinerary] ([IdItinerary], [IdAirport1], [IdAirport2]) VALUES (5, 1, 13)
SET IDENTITY_INSERT [dbo].[Itinerary] OFF
GO
SET IDENTITY_INSERT [dbo].[Planet] ON 

INSERT [dbo].[Planet] ([IdPlanet], [Name]) VALUES (9, N'Ceres')
INSERT [dbo].[Planet] ([IdPlanet], [Name]) VALUES (3, N'Earth')
INSERT [dbo].[Planet] ([IdPlanet], [Name]) VALUES (13, N'Eris')
SET IDENTITY_INSERT [dbo].[Planet] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [Name], [Description]) VALUES (1, N'Admin', N'R/W Messages - R Users')
INSERT [dbo].[Role] ([IdRole], [Name], [Description]) VALUES (2, N'Agent', N'R Messages')
INSERT [dbo].[Role] ([IdRole], [Name], [Description]) VALUES (3, N'Owner', N'R/W Messages - R/W Users')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [Username], [Email], [VerifiedEmail], [IdRole], [IdUserAuth0]) VALUES (26, N'Madi-Owner', N'madi-owner@spaceadventures.be', 0, 3, N'auth0|629f1bc083b1d6006fce3542')
INSERT [dbo].[User] ([IdUser], [Username], [Email], [VerifiedEmail], [IdRole], [IdUserAuth0]) VALUES (27, N'Madi-Admin', N'madi-admin@spaceadventures.be', 0, 1, N'auth0|629f1c7b4925f70068973381')
INSERT [dbo].[User] ([IdUser], [Username], [Email], [VerifiedEmail], [IdRole], [IdUserAuth0]) VALUES (28, N'Madi-Agent', N'madi-agent@spaceadventures.be', 0, 2, N'auth0|629f1d6d6f5e8b0069e062ad')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Email]    Script Date: 15-Jun-22 7:09:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Client_Email] ON [dbo].[Client]
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Itinerary_Aiport1_Aiport2]    Script Date: 15-Jun-22 7:09:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Itinerary_Aiport1_Aiport2] ON [dbo].[Itinerary]
(
	[IdAirport1] ASC,
	[IdAirport2] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Planet_Name]    Script Date: 15-Jun-22 7:09:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Planet_Name] ON [dbo].[Planet]
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Airport]  WITH CHECK ADD  CONSTRAINT [FK_Airport_Planet] FOREIGN KEY([IdPlanet])
REFERENCES [dbo].[Planet] ([IdPlanet])
GO
ALTER TABLE [dbo].[Airport] CHECK CONSTRAINT [FK_Airport_Planet]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Client] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Client] ([IdClient])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Client]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Flight] FOREIGN KEY([IdFlight])
REFERENCES [dbo].[Flight] ([IdFlight])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Flight]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_User]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Aircraft] FOREIGN KEY([IdAircraft])
REFERENCES [dbo].[Aircraft] ([IdAircraft])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK_Flight_Aircraft]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Itinerary] FOREIGN KEY([IdItinerary])
REFERENCES [dbo].[Itinerary] ([IdItinerary])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK_Flight_Itinerary]
GO
ALTER TABLE [dbo].[Itinerary]  WITH CHECK ADD  CONSTRAINT [FK_Itinerary_Airport1] FOREIGN KEY([IdAirport1])
REFERENCES [dbo].[Airport] ([IdAirport])
GO
ALTER TABLE [dbo].[Itinerary] CHECK CONSTRAINT [FK_Itinerary_Airport1]
GO
ALTER TABLE [dbo].[Itinerary]  WITH CHECK ADD  CONSTRAINT [FK_Itinerary_Airport2] FOREIGN KEY([IdAirport2])
REFERENCES [dbo].[Airport] ([IdAirport])
GO
ALTER TABLE [dbo].[Itinerary] CHECK CONSTRAINT [FK_Itinerary_Airport2]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
