
@{
    ViewData["Title"] = "GetClients";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


<h1>List of Customers</h1>


<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Last name</th>
        <th>First name</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            console.log("Script ...");

            $("#customers").dataTable({

                "ajax": {
                    "url": "/api/clients",
                    "type": "GET",
                    "dataType": "json",
                    "dataSrc": "",
                    "success": function(data) {
                        console.log(data);
                    }
                },
                "columns":[
                    {"clientsList" : "lastName"},
                    {"clientsList" : "firstName"}
                ]
            });
        });
    </script>
    
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
}