
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


#myHeader {
    font-family: 'Rubik Glitch', cursive;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}


/**** DataTable CSS *****/

#datatable {
    background-color: rgba(255, 255, 255, 0.5)
}

#datatable_filter {
    color: white
}

#datatable_length {
    color: white
}

#datatable_info {
    color: white
}

.dataTableColumn {
   font-size: smaller         
}

/************Sticky Footer CSS ***************/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #ddc1a0;
    color: black;
}


/********* ToastR CSS*********/
#toast-container {
    margin-top: 80px;
    margin-right: 15px;
    font-size :medium;
}



/********About Us CSS ********/
.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.aqua-gradient {
    background: linear-gradient(#f7e5cc, #E7D286, gray) !important;
}

.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid;
    border-radius: 50%;
}


/****** Carousel CSS *******/
