@{
    ViewData["Title"] = "Home Page";
}


<div class="animated-title">
    <div class="text-top">
        <div>
            <span>Space</span>
            <span>Adventures</span>
        </div>
    </div>
    <div class="text-bottom">
        <div>Welcome To Our World</div>
    </div>
</div>

<script src="~/lib/toastr.js/toastr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>